
.new-task-container {
    color: #eaeaea; 
    border-radius: 8px;
    margin: auto;
    max-width: 700px;
    margin-top: 2rem;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff; /* White color for the title */
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.input {
    display: flex;
    flex-direction: column;
}

.input p {
    font-size: 16px;
    margin-bottom: 5px;
    color: #b0b0b0; /* Light grey color for labels */
}

input[type="text"], 
input[type="date"], 
select {
    background-color: #2e2e2e; 
    color: #eaeaea; 
    border: 1px solid #444; 
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
}

input[type="text"]::placeholder, 
select {
    color: #888; 
}

.create-task-button {
    background-color: #007BFF;
    color: #ffffff; 
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-task-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}


